#slider {
    margin-left: 10px;
}
#mytab div{
    width:100px;
    height:20px;
    background:#cccccc;
}
#parent{
    width:500px;
    height:500px;
}
.colElements {
    padding:10px;
    margin:10px;
    border:1px solid red;
    float:left
}
#basicTable{
    display: inline-block;
}
#row,#col{
    width: 110px;
}
.block {
    display: inline-block;
    max-width: 50%;
    margin-right: 10%;
}

input[type='range'] {
    -webkit-appearance: none;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}

input[type='number'] {
    -webkit-appearance: none;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-border-radius: 5px;
    width:70%;
}